*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-basis: 25%;
}

.flex{
    display: flex;    
}

.m-right{
    margin-right: 1rem;
}

.m-right1{
    margin-right: 0.5rem;
}

.m-bot{
    margin-bottom: 3rem;
}

.m-bot1{
    margin-bottom: 12rem;
}

.m-bot2{
    margin-bottom: 1rem;
}

.b-blue{
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    padding: 0.3rem 1rem;    
}

.b-blue1{
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    padding: 0.3rem 1rem;
    width: 100%;
}

.jumbo{
    background-color: lightblue;
    margin-bottom: 10rem;
}

.dim{
    width: 60%;
    margin: auto;    
}

.jumbo-f{
    display: flex;
    justify-content: space-between;        
}

.title{    
    font-size: 5em;
    padding-top: 5rem;
    padding-bottom: 5rem;    
}

.jumbo-img{
    width: 100%;
}

.text{
    flex-basis: 60%;
}

.jumbo-img{
    flex-basis: 30%;
}

.container-1{
    width: 40%;
    margin: auto;
}

hr{
    width: 20%;
}

.container-2{
    display: flex;
    justify-content: space-between
}

.col{
    flex-basis: 30%;
}

.l-height{
    line-height: 2rem;
}

h2{
    font-size: 2.5em;
}

.center{
    text-align: center;
    border-bottom: 1px solid gray;
}

.bold{
    font-weight: bold;
}

.bold1{
    font-weight: bold;
    font-size: 1.5em;
}

.fa-check{
    color: cornflowerblue;
}

.border{
    border: 1px solid gray;
}

.pad{
    padding: 1rem;
}

.f-bas{
    flex-basis: 30%;
}

.f-bas1{
    flex-basis: 65%;
}

.flex1{
    display: flex;
    justify-content: space-between;
}

.m-top{
    margin-top: 3rem;
}

.partner img{
    width: 100%;
}

.partner{    
    flex-basis: 60%;
}

.partner1{
    flex-basis: 30%;
}

.b-white{
    background-color: white;
    padding: 0.5rem;
    border: solid 1px black;
}

.business img{
    width: 100%;
}

.f-wrap{
    flex-wrap: wrap;
}

