*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    border-bottom: 1px solid #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
}

.container{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-basis: 25%;
}

.flex{
    display: flex;    
}

.m-right{
    margin-right: 1rem;
}

.m-right1{
    margin-right: 0.5rem;
}

.m-bot{
    margin-bottom: 3rem;
}

.m-bot1{
    margin-bottom: 12rem;
}

.m-bot2{
    margin-bottom: 1rem;
}

.b-blue{
    border: 1px solid #1f6cff;
    background-color: #1f6cff;
    color: white;
    padding: 0.3rem 1rem;    
}

.b-blue1{
    border: 1px solid #1f6cff;
    background-color: #1f6cff;
    color: white;
    padding: 0.3rem 1rem;
    width: 100%;
}

.jumbo{
    background-color: #b4d0e7;
    margin-bottom: 10rem;
}

.dim{
    width: 60%;
    margin: auto;    
}

.jumbo-f{
    display: flex;
    justify-content: space-between;        
}

.title{    
    font-size: 5em;
    padding-top: 5rem;
    padding-bottom: 5rem;    
}

.jumbo-img{
    width: 100%;
}

.text{
    flex-basis: 60%;
}

.jumbo-img{
    flex-basis: 30%;
}

.container-1{
    width: 40%;
    margin: auto;
}

hr{
    width: 20%;
}

.container-2{
    display: flex;
    justify-content: space-between
}

.col{
    flex-basis: 30%;
}

.l-height{
    line-height: 2rem;
}

h2{
    font-size: 2.5em;
}

.center{
    text-align: center;
    border-bottom: 1px solid gray;
}

.bold{
    font-weight: bold;
}

.bold1{
    font-weight: bold;
    font-size: 1.5em;
}

.fa-check{
    color: #1f6cff;
}

.border{
    border: 1px solid gray;
}

.pad{
    padding: 1rem;
}

.f-bas{
    flex-basis: 30%;
}

.f-bas1{
    flex-basis: 65%;
}

.flex1{
    display: flex;
    justify-content: space-between;
}

.m-top{
    margin-top: 3rem;
}

.partner img{
    width: 100%;
}

.partner{    
    flex-basis: 60%;
}

.partner1{
    flex-basis: 30%;
}

.b-white{
    background-color: white;
    padding: 0.5rem;
    border: solid 1px black;
}

.business img{
    width: 100%;
}

.f-wrap{
    flex-wrap: wrap;
}

.size{
    width: calc(100% / 3);
    height: calc(100vw / 3);    
}

.size-1{
    width: calc(100% / 2);
    height: calc(100% / 2);
    align-items: center;
}

.size-i img{
    width: 100%;
    padding: 3rem;
    filter: invert(97%) sepia(48%) saturate(4%) hue-rotate(134deg) brightness(103%) contrast(101%); 
}

.green{
    background-color: #a2d39b;
    border: solid 0.8rem #c2d7ba;
}

.d-red{
    background-color: #61082b;
}

.l-blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.crim{
    background-color: #d5001f;
}

.cele{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yel{
    background-color: #ffd830;
}

.des img{
    width: 60%;
    margin-bottom: 2rem;       
}

.des{
    padding: 2rem;
    background-color: #f5f5f5;
}

.flex2{
    display: flex;
    justify-content: space-around;
    padding: 6rem;
}

.b-bottom{
    width: 100%;
}




